body{
    
}
.full-with{
    padding: 0px;
    margin: 0px;
}
.nuevo{
    background-color: rgba(54, 121, 136, 0.63);
}
.proyecto{
    background-color: rgba(32, 173, 115, 0.83);
    background-size: 100% 100%;
    background-image: url("../../public/img/base-datos.png");
}
.arriba{
    background-color: #245269;
    position: fixed;
}
.indicador{
    width: 3em;
    background-color: rgba(201, 196, 119, 0.13);
}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
.nivel0{
    border: solid 1px rgba(234, 40, 18, 0.83);;
}
.nivel1{
    border: solid 1px rgba(225, 107, 23, 0.91);
}
.nivel2{
    border: solid 1px rgba(255, 202, 38, 0.91);
}
.nivel3{
    border: solid 1px rgba(7, 173, 95, 0.91);
}
.nivel4{
    border: solid 1px rgba(41, 173, 170, 0.91);
}
.nivelPanel0{
    background-color:  rgba(234, 40, 18, 0.83);
}
.nivelPanel1{
    background-color:  rgba(225, 107, 23, 0.91);
}
.nivelPanel2{
    background-color: rgba(255, 202, 38, 0.91);
}
.nivelPanel3{
    background-color:  rgba(7, 173, 95, 0.91);
}
.nivelPanel4{
    background-color:  rgba(41, 173, 170, 0.91);
}