<?php
?>
   <select class="form-control" id="formularioTipoOrigen" onchange="cargarConfiguracionTipo()">
      <option value="">selecciones origen</option>
      <option value="archivo">archivo</option>
      <option value="tabla">tabla</option>
      <option value="lista">lista</option>
      <option value="rango">rango</option>
   </select><br/>
   <div class="" id="opcionconfiguracion">
      
   </div>