<div class="panel panel-body nuevo">
    <a class="glyphicon glyphicon-plus-sign btn btn-success btn-lg" href="index.php?<?php echo ACTION ?>=nuevo">
        New
    </a>
</div>
<?php
    $proyectos->actionMostrarProyectos();
?>